fastapi
uvicorn[standard]
docker
pydantic[email]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
slowapi
apscheduler
pymysql
cryptography
bcrypt
pytest
pytest-asyncio
httpx
